<nav class="navbar navbar-fixed-top navbar-light bg-faded">
   <a class="navbar-brand" href="/">MLWHO</a>
   <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">How</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
   </ul>
   <%= form_tag :ml_authors,
                method: "get",
                class: "form-inline pull-xs-right" do %>
      <input type='text' name='user_input' placehold="Search" class="form-control" >
      <%= submit_tag "Search", class: "btn btn-success-outline"%>
   <% end %>
</nav>
